<html lang="en">
	<head>
        <% include head %>
	</head>
	<body>
        <h1>Piping hot tinfoil</h1>
	</body>
	<script type="text/javascript" src="/app/public/scripts/subsites/gothottakes.js"/>
</html>
