<html lang="en">
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<div class="fullpage">
			<% include ../../partials/header %>
			<section class="container">
				<article id="feature">
					<center><h2>Double Vision</h2></center>
				</article>
				<% include ../../partials/sidebar %>
			</section>
			<hr />
			<% include ../../partials/footer %>
		</div>
	</body>
</html>