<header id="header">
	<p><a class="plainTxt" href="/">Connor Porell</a></p>
	<span><a class="plainTxt" href="/">Worldbuilder &#x26ac; Dungeonmaster &#x26ac; Escapist</a></span>
</header>
<nav id="linkbar">
	<ul>
		<li><a class="plainTxt" href="/about">About</a></li>
		<li><a class="plainTxt" href="/projects">Projects</a></li>
		<li><a class="plainTxt" href="/games">Games</a></li>
		<li><a class="plainTxt" href="/contact">Contact</a></li>
	</ul>
</nav>