<div id="header">
    <p>
        <img src="/app/public/images/index.png" />
        <strong>Connor Porell</strong>
    </p>
    <ul id="links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/resume">Resume</a></li>
    </ul>
</div>