<article id="bio">
	<p>
		<img class="bioPic" src="/app/public/images/index.png" align="left"/>
		<span class="bioTxt">Newly(-ish) graduated from Worcester Polytechnic Institute, Connor Porell is a web application developer for MITRE. When he's not wrestling with SharePoint or Node apps, he's usually worldbuilding for Pathfinder sessions, playing Fire Emblem, or doodling.
		</span>
		<hr>
		<center class="socMedIcons">
		<!-- Social media icons from http://tomswebspace.com/72-minimalist-social-media-icons-square/ -->
		<a href="mailto:cgporell@gmail.com"><img src="/app/public/images/mail.png"></a>
		<a href="https://twitter.com/Goatunheim2"><img src="/app/public/images/twitter.png"></a>
		<a href="https://github.com/cporell"><img src="/app/public/images/github.png"></a>
		<a href="https://www.linkedin.com/in/connorgporell/"><img src="/app/public/images/linkedin.png"></a>
		<a href="http://steamcommunity.com/profiles/76561198035680537/"><img src="/app/public/images/steam.png"></a>
		<a href="https://www.facebook.com/connor.porell"><img src="/app/public/images/facebook.png"></a>
		</center>
	</p>
</article>