<html lang="en">
	<head>
        <% include head %>
	</head>
	<body>
        <h1>Measuring life one sprint at a time</h1>
	</body>
	<script type="text/javascript" src="/app/public/scripts/subsites/sprintstilxmas.js"/>
</html>
