.gameRow {
	padding-bottom: 3em;
}

.gameBlock  {
	display: inline-block;
	max-width: 33%;
	min-width: 10%;
	width: 33%;
	font-size: .85em;
	text-align: center;
	padding: 10px;
}

.gameBlock > a {
	text-decoration: none;

}

.gameBlock  p {
	color: black;
	margin: .4em;
}

.gameBlock .title {
	font-size: 1.5em;

}

.gamePic {
	width:  7em;
	height: 7em;
	margin: 0;
}