@font-face{
	font-family: comfortaa;
	src: url(/app/public/fonts/Comfortaa.ttf);
}

@font-face{
	font-family: corbel;
	src: url(/app/public/fonts/corbel.ttf);
}

@font-face{
	font-family: SketchBlock;
	src: url(/app/public/fonts/Sketch_Block.ttf);
}

@font-face{
	font-family: teacher;
	src: url(/app/public/fonts/KGWhattheTeacherWants.ttf);
}

@font-face{
	font-family: summersunshine;
	src: url(/app/public/fonts/KGSummerSunshineBlackout.ttf);
}

.fullpage {
	margin-left: 10%;
	width: 80%;
	background: #ffffff;
}

body {
	background: #e1dbd2;
	margin: 0;
	padding: 0;
	font-family: corbel;
}

header {
	background: #e54c3a;
	color: white;
	padding: .5em;
	text-align: center;
}

#header p{
	font-size: 3em;
	font-family: summersunshine;
	line-height: .0em;
	margin: .77em;
	padding-bottom: .2em;
}

#header span{
	font-size: 1.4em;
	line-height: 1.35em;
	font-family: SketchBlock;
}

#header a {
	color: #ffffff;
}

a.plainTxt {
	text-decoration: none;
}


footer {
	background: #764637;
	color: white;
	margin: 10px 0px;
	padding: 10px 0px;
	text-align: center;
}

#linkbar {
	position: relative;
	background: #764637;
	text-align: center;
	font-family: comfortaa;	
	font-size: 1.1em;
}

#linkbar ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	left: 50%;
	display: inline-flex;
}

#linkbar li{
	float: left;
	position: relative;
	display: inline;			/* Remove 'block' styling - display horiz. */
	margin-left: auto;
	margin-right: auto;
		
}

#linkbar a {
	display: inline-block;
	padding: 4px 10px 4px 10px;
	color: white;
}

#linkbar a:hover {
	background-color: #e1dbd2;
	color: #764637;
}

.container{
	display: flex;
	width: 100%;
}

#feature{
	flex-basis: 58%;
	padding: 1em;
	margin: .5em 0em 0em 1.3em;
}

#feature h2 {
	line-height: .7em;
	font-family: teacher;
}

#bio{
	flex-basis: 24%;
	padding: 1em;
}

img {
	/*display: block;*/
}

.bioPic{
	float:left;
	width: 124px;
	height: 126px;
	border:2px solid black;
	
    border-radius: 124px;
    -webkit-border-radius: 124px;
    -moz-border-radius: 124px;
	
}

.socMedIcons  img{
	width: 2.5em;
	height: 2.5em;

}

.bioTxt {
	line-height: 1.2em;
}