@font-face{
	font-family: skinnyjeans;
	src: url(/app/public/fonts/SkinnyJeans.ttf);
}

@font-face{
	font-family: archistico;
	src: url(/app/public/fonts/Archistico_Simple.ttf);
}

.fullpage {
	margin-left: 10%;
	width: 80%;
	background: #ffffff;
}

header {
	background: #e54c3a;
	color: white;
	padding: .5em;
	text-align: center;
}

#header h1 {
	margin: 0px; 
}

#header a {
	color: #ffffff;
	font-family: archistico;
}

a.plainTxt {
	text-decoration: none;
}

body {
	background: #e1dbd2;
	margin: 0px;
}

footer {
	background: #764637;
	color: white;
	margin: 10px 0px;
	padding: 10px 0px;
	text-align: center;
}

#linkbar {
	position: relative;
	background: #764637;
	text-align: center;
	/**padding-left: 50%;*/
	
}

#linkbar ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	left: 50%;
	display: inline-flex;
	/*justify-content: center;*/
}

#linkbar li{
	float: left;
	position: relative;
	display: inline;			/* Remove 'block' styling - display horiz. */
	margin-left: auto;
	margin-right: auto;
		
}

#linkbar a {
	display: inline-block;
	padding: 4px 10px 4px 10px;
	color: white;
}

#linkbar a:hover {
	background-color: #e1dbd2;
	color: #764637;
}
/*
.container{
	width: 87.2em;
	margin: 0 auto;
	height: 0 2.2em 0 2.2em;
}

#feature{
	width: 58.4em%;
	float: left;
}

#bio{
	margin-left: 28.7em;
	float: right;
}
*/

.container{
	margin-left: 1.3em;
	display: flex;
	width: 100%;
}

#feature{
	flex-basis: 60%;
	padding: 1em;
}

#bio{
	flex-basis: 25%;
	padding: 1em;
}

.bioPic{
	width: 124px;
	height: 126px;
	border:2px solid black;
    border-radius: 124px;
    -webkit-border-radius: 124px;
    -moz-border-radius: 124px;

}