<html lang="en">
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/app/public/css/404.css">
	</head>
	<body>
		<div class="fullpage">
			<div class="inner-content">
			<span class="oops-msg"><strong>Oops!</strong></span>
			<p>
			The page you are looking for does not exist or is broken. 
			If you got here through a link on my site, please email me at <a href="mailto:cgporell@gmail.com">cgporell@gmail.com</a>
			and let me know what link you clicked to send you here.
			Otherwise, click <a href="/">here</a> to return home.
			</p>
		</div>
		<hr>
		<% include ../partials/footer %>
		</div>
	</body>	
</html>