<html lang="en">
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/app/public/css/about.css">
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<!--<% include ../partials/sitemap %>-->
				<article id="feature">
					<center><h2>About</h2></center>
					<!--
					<p class="paragraph-text">
					Connor Porell is a web app developer, amateur game developer, and budding dungeonmaster. His interest
					in games and computers led him to enroll in a double major in Computer Science and Interactive Media at
					Worcester Polytechnic Institute, where he graduated in 2016. He now uses his skills at The MITRE
					Corporation, where he develops and maintains Sharepoint apps and Node apps for the company.
					</p>
                    <br/>
                    <p class="paragraph-text">
                    In his free time, Connor enjoys gaming and worldbuilding, particularly for Pathfinder campaigns, but mostly
                    for the pure escapism. His interest in worldbuilding stems back to high school, where the first inklings of their
                    current projects started as fan-made world concepts for one of his favorite games until over time it evolved into
                    a more original concept.
                    </p>
                    <br/>
                    <p class="paragraph-text">
                    Though he tends to keep to himself about such issues, Connor is also a staunch advocate for embracing yourself
                    regardless of social conventions.
                    </p>
                    -->

                    <h2>Employment</h2>
                        <div class="aboutBlock">
                            <span class="left"><b>Web Application Developer, MITRE Corp.</b></span>
                            <span class="right">June 2016 -</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about what I do at MITRE
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left"><b>IT Summer Assistant, Lowell Catholic High School</b></span>
                            <span class="right">Summer 2015</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about what I did at LCHS
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left"><b>Software Engineering Intern, Kronos</b></span>
                            <span class="right">Summer 2014</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about what I did at Kronos
                            </div>
                        </div>
                    <hr>
                    <h2>Education</h2>
                        <div class="aboutBlock">
                            <span class="left"><b>Worcester Polytechnic Institute</b><br>
                                Candidate for M.S. in Systems Engineering</span>
                            <span class="right">Anticipated completion Spring 2021</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Accepted for a Masters program in Systems Engineering, offered through a
                                special collaboration between WPI and MITRE. Program begins January 2018.<br>
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left"><b>Worcester Polytechnic Institute</b><br>
                                B.S. Computer Science, Interactive Media and Game Development</span>
                            <span class="right">2012 - 2016</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Graduated with High Distinction with a double major in Computer Science
                                and Interactive Media & Game Development.<br>
                            <i>Relevant Coursework:</i>
                            <ul>
                                <li>Computer Science:</li>
                                <li>Interactive Media:</li>
                            </ul>
                            </div>
                        </div>
                    <hr>
                    <h2>Projects</h2>
                        <div class="aboutBlock">
                            <span class="left">Storybook</span>
                            <span class="right">2015 - 2016 academic year</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about Storybook, with a handy link to the project page!
                            </div>
                        </div>
				</article>
				<% include ../partials/sidebar %>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
</html>