<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<% include ../partials/sitemap %>
				<article id="feature">
					<center><h2>About</h2></center>
					<p class="paragraph-text">
					Connor Porell is a web app developer, amateur game developer, and budding dungeonmaster. His interest
					in games and computers led him to enroll in a double major in Computer Science and Interactive Media at
					Worcester Polytechnic Institute, where he graduated in 2016. He now uses his skills at The MITRE
					Corporation, where he develops and maintains Sharepoint apps and Node apps for the company.
					</p>
                    <br/>
                    <p class="paragraph-text">
                    In his free time, Connor enjoys gaming and worldbuilding, particularly for Pathfinder campaigns, but mostly
                    for the pure escapism. His interest in worldbuilding stems back to high school, where the first inklings of their
                    current projects started as fan-made world concepts for one of his favorite games until over time it evolved into
                    a more original concept.
                    </p>
                    <br/>
                    <p class="paragraph-text">
                    Though he tends to keep to himself about such issues, Connor is also a staunch advocate for embracing yourself
                    regardless of social conventions.
                    </p>
				</article>
				<% include ../partials/sidebar %>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
</html>