<html lang="en">
        <head>
            <% include ../partials/head %>
        </head>
        <body>
            <div class="fullpage">
                <% include ../partials/header %>
                <section class="container">
                    <article id="feature">
                        <img class="aboutImg" src="/app/public/images/index.png" />
                        <div id="aboutText">
                            <p>
                                    I'm Connor, a recent(-ish) graduate from Worcester Polytechnic Institute, holding
                                    a double Bachelor's of Science in Computer Science and Interactive Media &amp; Game Development.
                                    Currently I am a web apps developer for MITRE, working on a variety of things including SharePoint, 
                                    ElasticSearch, and iOS Mobile apps. In my free time I enjoy worldbuiling (particularly for Pathfinder
                                    campaigns), drawing, or playing some sort of RPG.
                            </p>
                            <p>
                                    I'm Connor, a recent(-ish) graduate from Worcester Polytechnic Institute, holding
                                    a double Bachelor's of Science in Computer Science and Interactive Media &amp; Game Development.
                                    Currently I am a web apps developer for MITRE, working on a variety of things including SharePoint, 
                                    ElasticSearch, and iOS Mobile apps. In my free time I enjoy worldbuiling (particularly for Pathfinder
                                    campaigns), drawing, or playing some sort of RPG.
                            </p>
                            <p>
                                    I'm Connor, a recent(-ish) graduate from Worcester Polytechnic Institute, holding
                                    a double Bachelor's of Science in Computer Science and Interactive Media &amp; Game Development.
                                    Currently I am a web apps developer for MITRE, working on a variety of things including SharePoint, 
                                    ElasticSearch, and iOS Mobile apps. In my free time I enjoy worldbuiling (particularly for Pathfinder
                                    campaigns), drawing, or playing some sort of RPG.
                            </p>
                        </div>
                    </article>				
                </section>
                <hr />
                <% include ../partials/footer %>
            </div>
        </body>
    </html>