<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="fullpage">
            <% include ../partials/header %>
            <section class="container">
                <article id="feature">
                    <img class="aboutImg" src="/app/public/images/index.png" />
                    <div id="aboutText">
                        <p>
                            I'm Connor, a recent(-ish) graduate from Worcester Polytechnic Institute, holding
                            a double Bachelor's of Science in Computer Science and Interactive Media &amp; Game Development.
                            Currently I am a web apps developer for MITRE, working on a variety of things including SharePoint, 
                            ElasticSearch, and iOS Mobile apps. In my free time I enjoy worldbuiling (particularly for Pathfinder
                            campaigns), character design, drawing, or playing some sort of RPG.
                        </p>
                        <p>
                            Though I didn't discover this until recently, I consider myself to be gender-nonconforming. That is,
                            while I am comfortable in my assigned-at-birth male body, and while I am comfortable with society 
                            viewing me as a man, I reject a lot of aspects of what society thinks makes a man, a man. While
                            I haven't determined if I feel comfortable putting on a label beyond that (especially as I am still 
                            in a sort of exploratory phase regarding what I like), I take comfort in the fact that I don't fit
                            or outright defy certain aspects of what's expected of men in society. The most obvious way is in the way
                            I present myself - not entirely masculine or feminine, yet not vague enough to be considered androgynous.
                            Taking comfort in presenting this way is something that's taken me literal years to be comfortable with,
                            and as such I now present myself in my own unique self with pride.
                        </p>
                        <p>
                            A big part of self-discovery for myself (and, I'm sure, for many others) was expressing myself 
                            through art. I primarily tend to draw people - and each person I draw tends to have a little bit of me
                            inside each of them. One character may be the punk or preppy side I'd never dabble in but think about,
                            another would be an outlet when I was still repressing aspects of my femininity. Before I gained the 
                            confidence to express myself in the real world, I would often (and still do) channel that desire
                            into an intimate and private form with limitless potential.
                        </p>
                    </div>
                </article>				
            </section>
            <hr />
            <% include ../partials/footer %>
        </div>
    </body>
</html>
