<html lang="en">
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/app/public/css/about.css">
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<!--<% include ../partials/sitemap %>-->
				<article id="feature">
                    <h2>Employment</h2>
                        <div class="aboutBlock">
                            <span class="left"><b>Web Application Developer, MITRE Corp.</b></span>
                            <span class="right">June 2016 -</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Current duties involve:
                                <ul>
                                    <li>Working on the team tasked with upgrading our People and Projects 
                                        Search service to searchkit and ElasticSearch</li>
                                    <li>Maintaining SharePoint services after the recent rollout to SharePoint 2016</li>
                                    <li>Building the iOS mobile app for MITRE.</li>
                                </ul>
                                Previous projects include:
                                <ul>
                                    <li>Building a node app to track various user activity. Was involved in design, development,
                                        rollout, and retirement of the app.
                                    </li>
                                    <li>Developing various services for SharePoint 2016 in anticipation of a company-wide upgrade
                                        in August 2017.
                                    </li>
                                </ul>
                                At MITRE, I've worked with a wide variety of technologies, including: SharePoint 2016, Powershell, C#, 
                                .NET, NodeJS, Express, React, MongoDB, RabbitMQ, Docker, and Swift.
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left"><b>IT Summer Assistant, Lowell Catholic High School</b></span>
                            <span class="right">Summer 2015</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about what I did at LCHS
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left"><b>Software Engineering Intern, Kronos</b></span>
                            <span class="right">Summer 2014</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about what I did at Kronos
                            </div>
                        </div>
                    <hr>
                    <h2>Education</h2>
                        <div class="aboutBlock">
                            <span class="left"><b>Worcester Polytechnic Institute</b><br>
                                Candidate for M.S. in Systems Engineering</span>
                            <span class="right">Anticipated completion Spring 2021</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Accepted for a Masters program in Systems Engineering, offered through a
                                special collaboration between WPI and MITRE. Program begins January 2018.<br>
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left"><b>Worcester Polytechnic Institute</b><br>
                                B.S. Computer Science, Interactive Media and Game Development</span>
                            <span class="right">2012 - 2016</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Graduated with High Distinction with a double major in Computer Science
                                and Interactive Media & Game Development.<br>
                            <i>Relevant Coursework:</i>
                            <ul>
                                <li>Computer Science:</li>
                                    <ul>
                                        <li></li>
                                    </ul>
                                <li>Interactive Media:</li>
                                    <ul>
                                        <li></li>
                                    </ul>
                            </ul>
                            </div>
                        </div>
                    <hr>
                    <h2>Projects</h2>
                        <div class="aboutBlock">
                            <span class="left">Storybook</span>
                            <span class="right">2015 - 2016 academic year</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Stuff about Storybook, with a handy link to the project page!
                            </div>
                        </div>
                        <div class="aboutBlock">
                            <span class="left">Rosewood Worldbuilding Project</span>
                            <span class="right">2017 -</span>
                            <div style="clear: both"></div>
                            <div class="aboutDetails">
                                Personal worldbuilding project. Small bio, link to Wiki <a href="https://google.com">here</a>, project page <a href="https://google.com">here</a>.
                            </div>
                        </div>
				</article>
				<% include ../partials/sidebar %>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
</html>