<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<article id="feature">
					<center><h2>Contact Me</h2></center>

					<p>
					If you're looking to get in touch with me, I'm online in a variety of places:
					<ul style="list-style-type: none">
						<li><a href="mailto:cgporell@gmail.com">Email</a> (This is the best way to reach me, as I check that most often.)</li>
						<li><a href="https://www.linkedin.com/in/connorgporell/">LinkedIn</a></li>
						<li><a href="https://github.com/cporell">GitHub</a></li>
						<li><a href="https://twitter.com/Goatunheim2">Twitter</a></li>
						<li><a href="https://www.facebook.com/connor.porell">Facebook</a></li>
						<li><a href="http://steamcommunity.com/profiles/76561198035680537/">Steam</a></li>
					</ul>
					
					<!-- <br/>
					The easiest way to reach me is my email, <a href="mailto:cgporell@gmail.com">cgporell@gmail.com</a>.
					<br/>
					<br/>
					I'm not regularly on social media, but if that's your preferred hangout, feel free to DM me
					on <a href="https://twitter.com/Goatunheim2">Twitter</a> or <a href="https://www.facebook.com/connor.porell">Facebook</a>.
                    <br> -->

					</p>
				</article>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
</html>