<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<% include ../partials/sitemap %>
				<article id="feature">
					<center><h2>Contact Me</h2></center>
				</article>
				<% include ../partials/sidebar %>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
</html>