<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
			    <!--<% include ../partials/sitemap %>-->
				<article id="feature">
					<!-- <center><h2>Hello world! This is a test.</h2></center>
					<p>
					</p> -->

					
				</article>
				<% include ../partials/sidebar %>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
	<!--<script type="text/javascript" src="/app/public/scripts/test.js"></script>-->
</html>