<html lang="en">
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/app/public/css/games.css">
		<link rel="stylesheet" type="text/css" href="/app/public/css/home.css">
		<link rel="stylesheet" type="text/css" href="/app/public/css/tooltip.css">
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<article id="feature">
					<div id="homeText">
						<p>Here is where I showcase the set of personal projects I've worked on that I 
						feel adequately reflect the range of my skills, interests, and abilities, as 
						well as being the projects of which I am the most proud.
						</p>
						<p>The full range of projects and games on which I've worked are available
						from the "Projects" and "Games" tabs above.
						</p>
				</article>				
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
	<script type="text/javascript" src="/app/public/scripts/home.js"></script>
</html>