<html lang="en">
    <head>
        <title>Connor Porell | Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/app/public/css/newmain.css">
        <link rel="shortcut icon" href="">
    </head>
    <body>
        <div id="header">
            <p>
                <img src="/app/public/images/index.png" />
                <strong>Connor Porell</strong>
            </p>
            <ul id="links">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/writing">Writing</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </div>
        <div id="main">
            <p>Text about me goes here.</p>
            <p>Maybe some more about me.</p>
            <p>
                Below are some of my personal highlights for projects. They reflect the works I am most 
                proud of or are works that I feel reflect my interests the best. For a more complete list,
                follow the "Projects" link above.
                <div id="homeprojects">
                    <div class="project">
                        <p> <strong>Storybook</strong> by Emory Blackstone, Nathan Bryant, Benny Peake, and Connor Porell</p>
                        <p> <a href="/projects/Storybook"><img src="/app/public/images/coverimages/Storybook.png"></a></p>
                        <p><strong>An online, cooperative multiplayer experience</strong></p>
                        <p>In <i>Storybook</i>, players and their friends take on the role of one of 4 representatives
                             of a literary genre - Horror, Comic, Sci-Fi, or Fantasy - and collect pages of a mystical
                            book that are used to build levels and thwart enemies. This game was the result of our
                            Major Qualifying Project our senior year at Worcester Polytechnic Institute.
                        </p>
                    </div>
                    <div class="project">
                        <p><strong>Personal Worldbuilding Project</strong> by Connor Porell</p>
                        <p><a href="/projects/Aotis"><img src="/app/public/images/index.png"></a></p>
                        <p><strong>My personal worldbuilding project</strong></p>
                        <p>The world of Aotis has been a pet project of mine for a few years now, though it is only recently 
                            that I started to put my thoughts down into actual words. Aotis is a fantasy world with thousands
                            of years of history, based on numerous sources including real-life world history with strong 
                            inspirations from mythology and prehistory as well.
                        </p>
                    </div>
                </div>
            </p>
        </div>
        <footer>
            Copyright &copy; 2016-2018 Connor Porell cgporell@gmail.com
        <footer>
    </body>
</html>