<html lang="en">
    <head>
        <title>Connor Porell | Resume</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/app/public/css/newmain.css">
        <link rel="shortcut icon" href="">
    </head>
    <body>
        <% include ../partials/newHeader.ejs %>

        <div id="main">
            <p>
                A complete recollection of my education, work experiences, and skills.
            </p>

            <h2>Employment</h2>
            <div class="aboutBlock">
                <span class="left"><b>Web Application Developer, MITRE Corp.</b></span>
                <span class="right">June 2016 -</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    Current duties involve:
                    <ul>
                        <li>Working on the team tasked with upgrading our internal 
                            search services from Endeca to ElasticSearch</li>
                        <li>Building and maintaining the Android mobile app for MITRE.</li>
                    </ul>
                    Previous projects include:
                    <ul>
                        <li>Building a node app to track various user activity. Was involved in design, development,
                            rollout, and retirement of the app.
                        </li>
                        <li>Developing various services for SharePoint 2016 in anticipation of a company-wide upgrade
                            in August 2017.
                        </li>
                    </ul>
                    At MITRE, I've worked with a wide variety of technologies, including: ElasticSearch, Kibana, SharePoint 2016, 
                    Powershell, C#, HTML, MongoDB, RabbitMQ, Docker, and Swift.
                </div>
            </div>
            <div class="aboutBlock">
                <span class="left"><b>IT Summer Assistant, Lowell Catholic High School</b></span>
                <span class="right">Summer 2015</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    <ul>
                        <li>Performed routine end-of-year maintenance on desktops and student-owned Chromebooks</li>
                        <li>Learned how to repair Chromebook and desktop hardware </li>
                        <li>Served as a leader for IT workstudy students</li>
                    </ul>
                </div>
            </div>
            <div class="aboutBlock">
                <span class="left"><b>Software Engineering Intern, Kronos</b></span>
                <span class="right">Summer 2014</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    <ul>
                        <li>Wrote unit tests for Kronos' flagship product, increasing code coverage, and finding/fixing bugs.</li>
                        <li>Introduced <i>Cucumber</i>-style tests to allow non-technical team members to understand and specify test behavior/</li>
                    </ul>
                </div>
            </div>
        <hr>
        <h2>Education</h2>
            <div class="aboutBlock">
                <span class="left"><b>Worcester Polytechnic Institute</b><br>
                    Candidate for M.S. in Systems Engineering</span>
                <span class="right">Anticipated completion Spring 2021</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    Accepted for a Masters program in Systems Engineering, offered through a
                    special collaboration between WPI and MITRE. Started in winter 2018.<br>
                </div>
            </div>
            <div class="aboutBlock">
                <span class="left"><b>Worcester Polytechnic Institute</b><br>
                    B.S. Computer Science, Interactive Media and Game Development</span>
                <span class="right">2012 - 2016</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    Graduated with High Distinction with a double major in Computer Science
                    and Interactive Media & Game Development.<br>
                </div>
            </div>
        <hr>
        <h2>Courses and Professional Training</h2>
             <div class="aboutBlock">
                <span class="left">Elastic{ON} Tour Boston</span>
                <span class="right">September 2018</span>
                <div style="clear: both"></div>
            </div>
            <div class="aboutBlock">
                <span class="left">Certified ScrumMaster</span>
                <span class="right">February 2018</span>
                <div style="clear: both"></div>
            </div>
            <div class="aboutBlock">
                <span class="left">The Great SharePoint 2013/2016 Adventure</span>
                <span class="right">October 2016</span>
                <div style="clear: both"></div>
            </div>
            <div class="aboutBlock">
                <span class="left">Splunk Discovery Day</span>
                <span class="right">July 2016</span>
                <div style="clear: both"></div>
            </div>
            <div class="aboutBlock">
                <span class="left">SplunkLive! Boston</span>
                <span class="right">June 2016</span>
                <div style="clear: both"></div>
            </div>
            <hr>
        <h2>Projects</h2>
            <div class="aboutBlock">
                <span class="left">Storybook</span>
                <span class="right">2015 - 2016 academic year</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    Major Qualifying Project (senior-year capstone) for my WPI undergrad. Prompt was to build a "casual game";
                    what resulted was a multiplayer dungeon builder/crawler designed to be quickly played by a group of friends.
                </div>
            </div>
            <div class="aboutBlock">
                <span class="left">The World of Aotis - Personal Worldbuilding Project</span>
                <span class="right">2017 -</span>
                <div style="clear: both"></div>
                <div class="aboutDetails">
                    Personal worldbuilding project based on world history, mythology, prehistory, and pop culture.
                    Read more about it on <a href="https://aotis.fandom.com/wiki/World_of_Aotis_Wiki">Wikia</a>, or my <a href="/projects/aotis">project page</a> for it.
                </div>
            </div>
        </div>

        <% include ../partials/newFooter.ejs %>
    </body>
</html>