<html lang="en">
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/app/public/css/projects.css">
        <link rel="stylesheet" type="text/css" href="/app/public/css/tooltip.css">
		<script type="text/javascript" src="/app/public/scripts/lib/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<article id="feature">
				</article>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
	<script>
		setPageContent();

		function setPageContent(){
			$(function(){
				var path = '/app/public/pageContent/projects/' + $(document).find("title").text() + '.html';
				$.get(path, function(data){
					$("#feature").html(data);
				}, 'text');
			});
		}
	</script>
</html>