<html lang="en">
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/app/public/css/projects.css">
		<link rel="stylesheet" type="text/css" href="/app/public/css/slideshow.css">
	</head>
	<body>
		<div class="fullpage">
			<% include ../partials/header %>
			<section class="container">
				<article id="feature">
					<center><h2>Projects</h2></center>
					<div id="slideshow-container">

					</div>
					<br>
					<div id="dots" style="text-align:center">

					<div>
				</article>
				<% include ../partials/sidebar %>
			</section>
			<hr />
			<% include ../partials/footer %>
		</div>
	</body>
	<script type="text/javascript" src="/app/public/scripts/projects.js"></script>
</html>