<html lang="en">
	<head>
        <% include head %>
	</head>
	<body>
		<select id="#whats-new-updates" onchange="location = this.value">

		</select>
		<div id="#whats-new-timeline">
			<div class="container left">

			</div>
			<div class="container right">

			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/app/public/scripts/subsites/whatsnew.js"/>
</html>
